body
{
    margin: 0;
    padding: 0;
}
/* ----------------HEADER-------------------- */

.header
{
    /* border: 1px solid white; */
    display: flex;
    width: 100vw;
    height: 10vh;
    /* padding-bottom: 10px; */
    background-color: black;
}
.nav
{
    /* border: 2px solid  white; */
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
}
#logo
{
    color: white;
    font-size: 30px;
    font-family:cursive;
}
.logo
{
    /* border: 1px solid white; */
    position: relative;
    left: 100px;
    bottom: 22px;
}
#searchlogo
{
    position: relative;
    right: 60px;
}
.icon
{
    /* border: 1px solid white; */
    border-radius: 50%;
}
.icon:hover
{
    border: 2px solid red ;
}
li
{
    list-style: none;
    /* border: 1px solid wheat; */
}
.navanchor
{
    /* border: 1px solid white; */
    text-decoration:none;
    color: white;
    margin-left: 80px;
    font-size: 17px;
    font-family: Georama;

    background-color: black;
    border: none;
    margin-bottom: 10px;
}
.navanchor:hover
{
    color: red;
}
.anchor2:hover
{
    color: red;
}
.about
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.about:hover .navanchor
{
    color: red;
}
.sub-about 
{
    display: none;
    position: absolute;
    width: 1537px;
    left: -370px;
    height: 400px;
    background-color: black;
    z-index: 1;
}

.sub-about a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20px;
    left: 440px;
}
.about:hover .sub-about
{
    display: block;
}
.sub-about a:hover
{
    color: white;
}

.our
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.our:hover .navanchor
{
    color: red;
}
.sub-our 
{
    display: none;
    position: absolute;
    left: -525px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-our a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.our:hover .sub-our
{
    display: block;
}
.sub-our a:hover
{
    color: white;
}

.investor
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.investor:hover .navanchor
{
    color: red;
}
.sub-investor 
{
    display: none;
    position: absolute;
    left: -715px;
    width: 1538px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-investor a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.investor:hover .sub-investor
{
    display: block;
}
.sub-investor a:hover
{
    color: white;
}

.news
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.news:hover .navanchor
{
    color: red;
}
.sub-news 
{
    display: none;
    position: absolute;
    left: -962px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-news a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.news:hover .sub-news
{
    display: block;
}
.sub-news a:hover
{
    color: white;
}

.careers
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.careers:hover .navanchor
{
    color: red;
}
.sub-careers 
{
    display: none;
    position: absolute;
    left: -1130px;
    width: 1536px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-careers a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.careers:hover .sub-careers
{
    display: block;
}
.sub-careers a:hover
{
    color: white;
}


/* -----------------IMAGES------------------- */
.about-overview-container
{
    /* border: 2px solid green; */
    width: 100vw;
    height: 79vh;
}

.about-overview-content
{
    width: 100vw;
    height: 79vh;
    background-image: url(/Images/AutoMotive-page.png);
    background-size: cover;
    /* box-shadow: inset 0px 0px 60px 15px black; */
}
.content2
{
    color: white;
    height:250px ;
    width: 600px;
    position: relative;
    top: 130px;
    left: 80px;
}
.content2 p
{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    margin-top: 0;
    font-family: Orbitron;
    font-size:36px ;
    color: white;
}
#p
{
    position: relative;
    bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    color: red ;
}


/* --------------AUTOMOTIVE GRID----------- */

.automotive-container
{
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
}
.automotive-grid-container
{
    width: 85vw;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
}
/* .automotive-child
{
    background-color:pink;
} */
.automotive-child :hover
{
    width: 102%;
    height: 102%;
    transition: all 0.2s ease-in;
}


/* QUICK LINKS */

.quickLinks-container
{
    margin-top: 200px;
    width: 100vw;
    height: 60vh;
    text-align: center;
    background: rgb(241, 241, 231);
}
.quickLinks-container h1
{
    color: black;
    font-weight: 300;
    word-spacing: 10px;
}
.QL-container
{
    width: 85vw;
    height: 35vh;
    margin: auto;
    display: flex;
    /* background-color: pink; */
}
.QL-links
{
    width: 33.33%;
    height: 100%;
    margin-left: 15px;
}
.QL-links:hover
{
    width: 34%;
    height: 102%;
    transition: all 0.2s ease-in;
}



/*---------------FOOTER------------ */

footer
{
    width: 100vw;
    height: 110vh;
    background-color: black;
}
.footer-logo
{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.footer-link-items
{
    width: 98vw;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-items: start;
}
.footer-child
{
    /* background-color: pink; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-child ul li 
{
    font-size: 16px;
    color: grey;
    margin-top: 20px;
}
.footer-child ul li a
{
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
.footer-child ul li a:hover
{
    color: white;
}
.footer-child ul #list-heading
{
    color: white;
    
}

.terms-container .terms
{
    display: flex;
    /* border: 1px solid green; */
}
.terms-container .terms li a
{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.terms-vertical
{
    height: 20px;
    border: 0.5px solid grey;
    margin-left: 15px;
}

.social-media
{
    display: flex;
    /* border: 1px solid green; */
    width: 300px;
    position: relative;
    left: 1100px;
    bottom: 50px;
}
.social-media li a img
{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.copyright
{
    background-color: red;
    text-align: center;
    color: white;
    padding: 10px;
}