body
{
    margin: 0;
    padding: 0;
}
/* ----------------HEADER-------------------- */

.header
{
    /* border: 1px solid white; */
    display: flex;
    width: 100vw;
    height: 10vh;
    /* padding-bottom: 10px; */
    background-color: black;
}
.nav
{
    /* border: 2px solid  white; */
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
}
#logo
{
    color: white;
    font-size: 30px;
    font-family:cursive;
}
.logo
{
    /* border: 1px solid white; */
    position: relative;
    left: 100px;
    bottom: 22px;
}
#searchlogo
{
    position: relative;
    right: 60px;
}
.icon
{
    /* border: 1px solid white; */
    border-radius: 50%;
}
.icon:hover
{
    border: 2px solid red ;
}
li
{
    list-style: none;
    /* border: 1px solid wheat; */
}
.navanchor
{
    /* border: 1px solid white; */
    text-decoration:none;
    color: white;
    margin-left: 80px;
    font-size: 17px;
    font-family: Georama;

    background-color: black;
    border: none;
    margin-bottom: 10px;
}
.navanchor:hover
{
    color: red;
}
/* .anchor2:hover
{
    color: red;
} */
.about
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.about:hover .navanchor
{
    color: red;
}
.sub-about 
{
    display: none;
    position: absolute;
    width: 1537px;
    left: -370px;
    height: 400px;
    background-color: black;
    z-index: 1;
}

.sub-about a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20px;
    left: 440px;
}
.sub-about-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -150px;
    border-radius: 5px;
}
.about:hover .sub-about
{
    display: block;
}
.sub-about a:hover
{
    color: white;
}
.navanchor:hover .sub-about
{
    display: block;
}


.our
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.our:hover .navanchor
{
    color: red;
}
.sub-our 
{
    display: none;
    position: absolute;
    left: -525px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-our a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-our-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -70px;
    border-radius: 5px;
}
.our:hover .sub-our
{
    display: block;
}
.sub-our a:hover
{
    color: white;
}

.investor
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.investor:hover .navanchor
{
    color: red;
}
.sub-investor 
{
    display: none;
    position: absolute;
    left: -715px;
    width: 1538px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-investor a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-investor-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -150px;
    border-radius: 5px;
}
.investor:hover .sub-investor
{
    display: block;
}
.sub-investor a:hover
{
    color: white;
}

.news
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.news:hover .navanchor
{
    color: red;
}
.sub-news 
{
    display: none;
    position: absolute;
    left: -962px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-news a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-news-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -110px;
    border-radius: 5px;
}
.news:hover .sub-news
{
    display: block;
}
.sub-news a:hover
{
    color: white;
}

.careers
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.careers:hover .navanchor
{
    color: red;
}
.sub-careers 
{
    display: none;
    position: absolute;
    left: -1130px;
    width: 1536px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-careers a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-careers-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -185px;
    border-radius: 5px;
}
.careers:hover .sub-careers
{
    display: block;
}
.sub-careers a:hover
{
    color: white;
}


/* -----------------IMAGES------------------- */
.about-overview-container
{
    /* border: 2px solid green; */
    width: 100vw;
    height: 79vh;
}

.about-overview-content
{
    width: 100vw;
    height: 79vh;
    background-image: url(/Images/OurBusiness-GlobalPresence.png);
    background-size: 100vw 100vh;
    /* box-shadow: inset 0px 0px 60px 15px black; */
}
.content2
{
    color: white;
    height:250px ;
    width: 600px;
    position: relative;
    top: 100px;
    left: 70px;
}
h1
{
    margin-top: 0;
    font-family: Orbitron;
    font-size:36px ;
    color:white;
}
h1 span
{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    bottom: 15px;
}


/* INTRESTED IN SECTION */

.intrestedIn-section-container
{
    padding-top: 50px;
    width: 100vw;
    height: 102vh;
    text-align: center;
    background-color: rgb(249, 249, 235);
}
.intrestedIn-section-container h1
{
    color: black;
    font-weight: 100;
    word-spacing: 10px;

}
.intrestedIn-section-container p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.intrest-field-container
{
    width: 100vw;
    height: 10vh;
    /* background-color: pink; */
}
.field-list
{
    width: 500px;
    margin: auto;
    display: flex;
    /* border: 1px solid green; */
    text-align: center;
}
.fields
{
    margin-left: 20px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fields a
{
    text-decoration: none;
    color: rgb(46, 45, 45);
}
.fields a:hover
{
   transition: all 0.2s ease-in;
   color: red;
   text-decoration: underline;
   text-underline-offset: 5px;
}
.fields-vertical
{
    height: 18px;
    border: 1px solid rgb(61, 55, 55);
    margin-left: 15px;
}

.iframe-window
{
    width: 80vw;
    height: 65vh;
    margin: auto;
    /* background-color: pink; */
}
iframe
{
    width: 80vw;
    height: 70vh;
    border: 1px solid grey;
    background-color:white;
}

/* Social Media Channels */

.socialMedia-container
{
    padding-top: 50px;
    width: 100vw;
    height: 40vh;
    text-align: center;
    /* background-color: pink; */
}
.socialMedia-container h1
{
    color: black;
    font-weight: 300;
    word-spacing: 10px;
}
.socialMedia-links-container
{
    width: 80vw;
    height: 15vh;
    /* background-color: green; */
    display: flex;
    margin: auto;
}
.SM-links
{
    width: 25%;
    height: 100%;
}
.SMlinks-img
{
    width: 50px;
    height: 50px;
}
.SMlinks-img a span
{
    text-decoration: none;
}
.SM-links p
{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    position: relative;
    left: 10px;
    top: -15px;
}


/* -------------WHISTLE BLOWER---------- */

.whistleBlower-container
{
    padding-top: 50px;
    width: 100vw;
    height: 90vh;
    background-color:rgb(249, 249, 235);
}
.WB-content
{
    width: 85%;
    height: 90%;
    margin: auto;
    color: black;
    display:flex ;
    background-color: white;
}
.WB-content:hover
{
    background-color: rgb(194, 50, 50);
}   

.WB-content-img
{
    width:65%;
    height: 100%;
    background-image: url(/Images/Email-WB-img.png);
    background-size: 890px 590px;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 200px 15px;
}
.WB-content-img:hover
{
    transition: all 0.2s ease-in;
    background-size: 905px 605px;
    box-shadow: inset 0px 0px 0px 0px;
}
.WB-content-info
{
    width: 35%;
    height: 100%;
}
.WB-info-child
{
    width: 400px;
    position: relative;
    top: 150px;
    left: 20px;
}
.WB-info-child h1
{
    color: black;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.WB-info-child img
{
    width: 30px;
    height: 30px;
}
.WB-info-child a
{
    position: relative;
    bottom: 10px;
    left: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* -----------DISCOVER MAHINDRA---------- */

.discoverMahindra-container
{
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.discoverMahindra-container h1
{
    color: black;
    font-weight: 300;
    word-spacing: 10px;
}
.discoverMahindra-container p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: white;
}
.discoverMahindra-container a
{
    padding: 10px;
    background-color: red;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.discoverMahindra-img
{
    width: 100vw;
    height: 100vh;
    background-image: url(/Images/Email-discover-img.jpg);
    background-size: cover;
}
.DM-content
{
    position: relative;
    left: -500px;
    top: 400px;
}



/*---------------FOOTER------------ */

footer
{  
    margin-top: -15px;
    width: 100vw;
    height: 110vh;
    background-color: black;
}
.footer-logo
{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.footer-link-items
{
    width: 98vw;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-items: start;
}
.footer-child
{
    /* background-color: pink; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-child ul li 
{
    font-size: 16px;
    color: grey;
    margin-top: 20px;
}
.footer-child ul li a
{
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
.footer-child ul li a:hover
{
    color: white;
}
.footer-child ul #list-heading
{
    color: white;
    
}

.terms-container .terms
{
    display: flex;
    /* border: 1px solid green; */
}
.terms-container .terms li a
{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.terms-vertical
{
    height: 20px;
    border: 0.5px solid grey;
    margin-left: 15px;
}

.social-media
{
    display: flex;
    /* border: 1px solid green; */
    width: 300px;
    position: relative;
    left: 1100px;
    bottom: 50px;
}
.social-media li a img
{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.copyright
{
    background-color: red;
    text-align: center;
    color: white;
    padding: 10px;
}