body
{
    margin: 0;
    padding: 0;
}
/* ----------------HEADER-------------------- */

.header
{
    /* border: 1px solid white; */
    display: flex;
    width: 100vw;
    height: 10vh;
    /* padding-bottom: 10px; */
    background-color: black;
}
.nav
{
    /* border: 2px solid  white; */
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
}
#logo
{
    color: white;
    font-size: 30px;
    font-family:cursive;
}
.logo
{
    /* border: 1px solid white; */
    position: relative;
    left: 100px;
    bottom: 22px;
}
#searchlogo
{
    position: relative;
    right: 60px;
}
.icon
{
    /* border: 1px solid white; */
    border-radius: 50%;
}
.icon:hover
{
    border: 2px solid red ;
}
li
{
    list-style: none;
    /* border: 1px solid wheat; */
}
.navanchor
{
    /* border: 1px solid white; */
    text-decoration:none;
    color: white;
    margin-left: 80px;
    font-size: 17px;
    font-family: Georama;

    background-color: black;
    border: none;
    margin-bottom: 10px;
}
.navanchor:hover
{
    color: red;
}
.anchor2:hover
{
    color: red;
}
.about
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.about:hover .navanchor
{
    color: red;
}
.sub-about 
{
    display: none;
    position: absolute;
    width: 1537px;
    left: -370px;
    height: 400px;
    background-color: black;
    z-index: 1;
}

.sub-about a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20px;
    left: 440px;
}
.sub-about-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -150px;
    border-radius: 5px;
}
.about:hover .sub-about
{
    display: block;
}
.sub-about a:hover
{
    color: white;
}

.our
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.our:hover .navanchor
{
    color: red;
}
.sub-our 
{
    display: none;
    position: absolute;
    left: -525px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-our a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-our-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -70px;
    border-radius: 5px;
}
.our:hover .sub-our
{
    display: block;
}
.sub-our a:hover
{
    color: white;
}

.investor
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.investor:hover .navanchor
{
    color: red;
}
.sub-investor 
{
    display: none;
    position: absolute;
    left: -715px;
    width: 1538px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-investor a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-investor-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -150px;
    border-radius: 5px;
}
.investor:hover .sub-investor
{
    display: block;
}
.sub-investor a:hover
{
    color: white;
}

.news
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.news:hover .navanchor
{
    color: red;
}
.sub-news 
{
    display: none;
    position: absolute;
    left: -962px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-news a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-news-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -110px;
    border-radius: 5px;
}
.news:hover .sub-news
{
    display: block;
}
.sub-news a:hover
{
    color: white;
}

.careers
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.careers:hover .navanchor
{
    color: red;
}
.sub-careers 
{
    display: none;
    position: absolute;
    left: -1130px;
    width: 1536px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-careers a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-careers-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -185px;
    border-radius: 5px;
}
.careers:hover .sub-careers
{
    display: block;
}
.sub-careers a:hover
{
    color: white;
}



/* -----------------IMAGES------------------- */
.about-overview-container
{
    /* border: 2px solid green; */
    width: 100vw;
    height: 79vh;
}

.about-overview-content
{
    width: 100vw;
    height: 79vh;
    background-image: url(/Images/Investor-Relations-ReportsImg.png);
    background-size: 100vw 95vh;
    /* box-shadow: inset 0px 0px 60px 15px black; */
}
.content2
{
    color: white;
    height:250px ;
    width: 600px;
    position: relative;
    top: 100px;
    left: 100px;
}
h1
{
    margin-top: 0;
    font-family: Orbitron;
    font-size:36px ;
    color: white;
    font-weight: 300;
}

/* -------HomeAbout-Section */
.homeAbout-section
{
    width: 100vw;
    height: 12vh;
    /* border: 1px solid red; */
}
.homeabout p
{
    position: relative;
    left: 70px;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* ----------------------REPORTS------------------ */

.reports-container
{
    width: 100vw;
    height: 150ch;
}
.filter-by-container
{
    width: 80vw;
    height: 15vh;
    margin: auto;
    /* background-color: pink; */
    display: flex;
}
.filter-by-child1
{
    width: 40%;
    height: 100%;
}
.filter-by-child2
{
    width: 45%;
    height: 100%;
}
.filter-by-child3
{
    width: 15%;
    height: 100%;
}
.filter-by-child3 select
{
    padding: 15px;
    font-size: 18px;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reports-content-container
{
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    /* background-color: pink; */
}
.reports-content-container-child1
{
    width: 35%;
    height: 80%;
    border: 1px solid grey;
}
.reports-content-container-child1 h3
{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px 0px 0px 20px;
}
.reports-content-container-child1 h3 a
{
    text-decoration: none;
    color: black;
}

.reports-content-container-child2
{
    width: 65%;
    height: 50%;
    /* border: 1px solid black; */
}
.RCC-child2-child
{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    border: 1px solid grey;
    margin-top: 20px;
    margin-left: 20px;
}
.RCC-child2-child
{
    display: flex;
}
.RCC-child2-child-reportImg
{
    width: 10%;
    height: 100%;
    display: grid;
    place-items: center;
}
.RCC-child2-child-para
{
    width: 70%;
    height: 100%;
    display: grid;
    justify-content: start;
    /* background-color: green; */
}
.RCC-child2-child-para h3
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.RCC-child2-child-para p
{
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.RCC-child2-child-download
{
    width: 20%;
    height: 100%;
    display: grid;
    place-items: center;
}
.RCC-child2-child-download a
{
    color: red;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.RCC-child2-child-download a img
{
    position: relative;
    top: 7px;
}



















/* ------------------LATEST STORIES-------------- */

.LatestStories-overview-container
{
    /* border: 2px solid green; */
    width: 100vw;
    height: 79vh;
    text-align: center;
}

.LatestStories-overview-content
{
    width: 100vw;
    height: 79vh;
    background-image: url(/Images/Reports-LatestStories.png);
    background-size: 100vw 95vh;
    /* box-shadow: inset 0px 0px 60px 15px black; */
}
.LatestStories-content2
{
    color: white;
    height:250px ;
    width: 600px;
    position: relative;
    top: 250px;
    left: 100px;
}
h1
{
    margin-top: 0;
    font-family: Orbitron;
    font-size:36px ;
    color: white;
    font-weight: 300;
}
#p
{
    position: relative;
    bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}




/* ----------------GET IN TOUCH-------------- */

.getInTouch-container
{
    width: 100vw;
    height: 120vh;
    padding-top: 30px;
    text-align: center;
    margin-top: 100px;
}
.getInTouch-container h1
{
    color: black;
    font-weight: 300;
    word-spacing: 10px;
}
.getInTouch-content
{
    width: 85vw;
    height: 55vh;
    margin: auto;
    display: flex;
}
.getInTouch-img
{
    width: 60%;
    height: 100%;
    background-image: url(/Images/about-cultural-GetInTouchimg.png);
    background-size: 785px;
}
.getInTouch-img:hover
{
    transition: all 0.2s ease-in;
    background-size: 795px;
}
.getInTouch-info
{
    width: 40%;
    height: 100%;
    background-color: rgb(211, 16, 16);
}
.GIT-info-child
{
    position: relative;
    left: -140px;
    top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.GIT-info-child a
{
    padding: 10px;
    position: relative;
    left: -30px;
    top: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}


.getInTouch-content-2
{
    width: 85vw;
    height: 55vh;
    margin: auto;
    display: flex;
    /* border: 1px solid green; */
}

.investor-query-container
{
    width: 40%;
    height: 100%;
    /* border: 1px solid pink; */
    margin-top: 10px;
}
.investor-query-container-child-1
{
    width: 100%;
    height: 50%;
    background-color: rgb(222, 222, 181);
    display: flex;
    border: 2px solid grey;
}
.investor-query-container-child-1 h3
{
    font-family: orbitron;
    font-weight: 300;
    position: relative;
    left: -10px;
}
.investor-query-container-child-1 img
{
    width: 30px;
    height: 30px;  
    position: relative;
    left: -200px;
}
.investor-query-container-child-1 a
{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    left: -100px;
}
.IQC-child1-A
{
    width: 2%;
    height: 100%;
    background-color: rgb(211, 16, 16);
}
.IQC-child1-B
{
    width: 98%;
    height: 100%;
}
.investor-query-container-child-2
{
    margin-top: 10px;
    width: 100%;
    height: 50%;
    background-color: rgb(222, 222, 181);
    border: 2px solid grey;
    display: flex;
}
.investor-query-container-child-2 h3
{
    font-family: orbitron;
    font-weight: 300;
    position: relative;
    left: -35px;
}
.investor-query-container-child-2 img
{
    width: 30px;
    height: 30px;  
    position: relative;
    left: -200px;
}
.investor-query-container-child-2 a
{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    left: -100px;
}
.IQC-child2-A
{
    width: 2%;
    height: 100%;
    background-color: rgb(211, 16, 16);
}
.IQC-child2-B
{
    width: 98%;
    height: 100%;
}

.investor-newsletter
{
    width: 60%;
    height: 103%;
    /* border: 1px solid pink; */
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid grey;
}
.investor-newsletter-child1
{
    width: 75%;
    height: 100%;
}
.investor-newsletter-child1-A
{
    position: relative;
    top: 50px;
    left: -30px;
}
.investor-newsletter-child1 h2
{
    font-family: orbitron;
    font-weight:300;
}
.investor-newsletter-child1 p
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
}
.investor-newsletter-child1 input
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
.investor-newsletter-child1 button
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 11px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(224, 30, 30);
}
.investor-newsletter-child2
{
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
    background-image: url(/Images/Newsletter.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.investor-newsletter-child2:hover
{
    background-size: 102% 102%;
    transition: all 0.2s ease-in;
}



/*---------------FOOTER------------ */

footer
{  
    margin-top: -15px;
    width: 100vw;
    height: 110vh;
    background-color: black;
}
.footer-logo
{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.footer-link-items
{
    width: 98vw;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-items: start;
}
.footer-child
{
    /* background-color: pink; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-child ul li 
{
    font-size: 16px;
    color: grey;
    margin-top: 20px;
}
.footer-child ul li a
{
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
.footer-child ul li a:hover
{
    color: white;
}
.footer-child ul #list-heading
{
    color: white;
    
}

.terms-container .terms
{
    display: flex;
    /* border: 1px solid green; */
}
.terms-container .terms li a
{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.terms-vertical
{
    height: 20px;
    border: 0.5px solid grey;
    margin-left: 15px;
}

.social-media
{
    display: flex;
    /* border: 1px solid green; */
    width: 300px;
    position: relative;
    left: 1100px;
    bottom: 50px;
}
.social-media li a img
{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.copyright
{
    background-color: red;
    text-align: center;
    color: white;
    padding: 10px;
}