body
{
    margin: 0;
    padding: 0;
}
/* ----------------HEADER-------------------- */

.header
{
    /* border: 1px solid white; */
    display: flex;
    width: 100vw;
    height: 10vh;
    /* padding-bottom: 10px; */
    background-color: black;
}
.nav
{
    /* border: 2px solid  white; */
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
}
#logo
{
    color: white;
    font-size: 30px;
    font-family:cursive;
}
.logo
{
    /* border: 1px solid white; */
    position: relative;
    left: 100px;
    bottom: 22px;
}
#searchlogo
{
    position: relative;
    right: 60px;
}
.icon
{
    /* border: 1px solid white; */
    border-radius: 50%;
}
.icon:hover
{
    border: 2px solid red ;
}
li
{
    list-style: none;
    /* border: 1px solid wheat; */
}
.navanchor
{
    /* border: 1px solid white; */
    text-decoration:none;
    color: white;
    margin-left: 80px;
    font-size: 17px;
    font-family: Georama;

    background-color: black;
    border: none;
    margin-bottom: 10px;
}
.navanchor:hover
{
    color: red;
}
.anchor2:hover
{
    color: red;
}
.about
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.about:hover .navanchor
{
    color: red;
}
.sub-about 
{
    display: none;
    position: absolute;
    width: 1537px;
    left: -370px;
    height: 400px;
    background-color: black;
    z-index: 1;
}

.sub-about a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20px;
    left: 440px;
}
.sub-about-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -150px;
    border-radius: 5px;
}
.about:hover .sub-about
{
    display: block;
}
.sub-about a:hover
{
    color: white;
}

.our
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.our:hover .navanchor
{
    color: red;
}
.sub-our 
{
    display: none;
    position: absolute;
    left: -525px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-our a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-our-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -70px;
    border-radius: 5px;
}
.our:hover .sub-our
{
    display: block;
}
.sub-our a:hover
{
    color: white;
}

.investor
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.investor:hover .navanchor
{
    color: red;
}
.sub-investor 
{
    display: none;
    position: absolute;
    left: -715px;
    width: 1538px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-investor a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-investor-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -150px;
    border-radius: 5px;
}
.investor:hover .sub-investor
{
    display: block;
}
.sub-investor a:hover
{
    color: white;
}

.news
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.news:hover .navanchor
{
    color: red;
}
.sub-news 
{
    display: none;
    position: absolute;
    left: -962px;
    width: 1537px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-news a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-news-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -110px;
    border-radius: 5px;
}
.news:hover .sub-news
{
    display: block;
}
.sub-news a:hover
{
    color: white;
}

.careers
{
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
.careers:hover .navanchor
{
    color: red;
}
.sub-careers 
{
    display: none;
    position: absolute;
    left: -1130px;
    width: 1536px;
    height: 400px;
    background-color: black;
    z-index: 1;
}
.sub-careers a
{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    left: 440px;
}
.sub-careers-img img
{
    width: 450px;
    height: 200px;
    position: relative;
    left: 950px;
    top: -185px;
    border-radius: 5px;
}
.careers:hover .sub-careers
{
    display: block;
}
.sub-careers a:hover
{
    color: white;
}



/* -----------------IMAGES------------------- */
.about-overview-container
{
    /* border: 2px solid green; */
    width: 100vw;
    height: 79vh;
}

.about-overview-content
{
    width: 100vw;
    height: 79vh;
    background-image: url(/Images/OurBusiness_OverviewImage.png);
    background-size: 100vw 100vh;
    /* box-shadow: inset 0px 0px 60px 15px black; */
}
.content2
{
    color: white;
    height:250px ;
    width: 600px;
    position: relative;
    top: 100px;
    left: 100px;
}
.content2 p
{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    margin-top: 0;
    font-family: Orbitron;
    font-size:36px ;
    color: black;
}
#p
{
    position: relative;
    bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    color: red ;
}


/* -------HomeAbout-Section */


.homeAbout-section
{
    width: 100vw;
    height: 12vh;
    /* border: 1px solid red; */
}
.homeabout p
{
    position: relative;
    left: 70px;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* ------------------OUR BUSINESS VERTICALS */

.ourBusiness-container
{
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 245);
    text-align: center;
}
.ourBusiness-container h1
{
    color: black;
    font-family: orbitron;
    font-weight: 200;
}
.ourBusiness-container p
{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ourBusiness-grid-container
{
    width: 85vw;
    height: 70vh;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    /* background-color: green; */
}

.OB-child1
{
    background-image: url(/Images/Car18.png);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 15px black; /*This is used ti give the shadow to an image from INSIDE*/
}
.OB-child2
{
    background-image: url(/Images/FarmEquipment-page.jpg.png);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 15px black;
}
.OB-child3
{
    background-image: url(/Images/TechnologyServices2.png);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 15px black;
}
.OB-child4
{
    background-image: url(/Images/Email-discover-img.jpg);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 15px black;
}
.OB-child5
{
    background-image: url(/Images/RenewableEnergy.png);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 15px black;
}
.OB-child6
{
    background-image: url(/Images/logistics2.jpg);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 15px black;
}
.OB-child7
{
    background-image: url(/Images/Hospitality2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    /* background-position: center; */
    box-shadow: inset 0px 0px 60px 15px black;
}
.OB-child8
{
    background-image: url(/Images/realEstate2.jpg);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    box-shadow: inset 0px 0px 60px 5px black;
}
.OB-child9
{
    background-image: url(/Images/EquityInvestment2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 60px 20px black;
    opacity: 0.9;
}
.ourBusiness-child a
{
    position: relative;
    top: 100px;
    right: 110px;
    font-size: x-large;
    color: white;
    text-underline-offset: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.OB-child1 a
{
    position: relative;
    right: 135px;
}
.OB-child3 a
{
    position: relative;
    right: 100px;
}
.OB-child6 a
{
    position: relative;
    right: 155px;
}
.OB-child7 a
{
    position: relative;
    right: 145px;
}
.OB-child8 a
{
    position: relative;
    right: 145px;
}
.ourBusiness-child:hover
{
    transition: all 0.5s ease-in;
    background-size: 445px;
    /* background-repeat: no-repeat; */
}


/* -------------------GLOBAL PRESENCE--------------- */

.globalPresence-container
{
    margin-top: 50px;
    width: 100vw;
    height: 40vh;
    background-color: beige;
    display:flex ;
}
.GP-info
{
    width: 40%;
    height: 100%;
    background-color: rgb(236, 236, 225);
}
.GP-info-child
{
    width: 50%;
    height: 45%;
    position: relative;
    left: 40px;
    top: 50px;
}
.GP-info-child h1
{
    font-weight: 300;
}
.GP-info-child p,a 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif\;
}
.GP-info-child a
{
    padding: 10px;
    background-color: red;
    text-decoration: none;
    color: white;
}
.GP-img
{
    width: 60%;
    height: 100%;
    background-image: url(/Images/OurBusiness-GlobalPresenceimg.png);
}



/* ---------------OUR BRANDS------------------ */

.ourBrands-container
{
    margin-top: 80px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.ourBrands-container h1
{
    font-weight: 300;
    word-spacing: 10px;
}
.ourBrands-container p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.OB-img
{
    width: 100%;
    height: 90%;
    background-image: url(/Images/OurBusiness-ourBrandsImg.png);
    background-size: cover;
}

/* ---------------------LATEST STORIES----------------- */

.latestStories-container
{
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.latestStories-container h1
{
    font-weight: 300;
    word-spacing: 10px;
}
.LS-img
{
    width: 100%;
    height: 90%;
    background-image: url(/Images/OurBusiniess-LatestStroriesImg.png);
    background-size: cover;
}
.LS-content
{
    height:250px ;
    width: 600px;
    position: relative;
    top: 200px;
    left: 20px;
}
.LS-content h1
{
    color: white;
}
.LS-content P
{
    font-size: 20PX;
    color: white;
}


/*---------------FOOTER------------ */

footer
{
    width: 100vw;
    height: 110vh;
    background-color: black;
}
.footer-logo
{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.footer-link-items
{
    width: 98vw;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-items: start;
}
.footer-child
{
    /* background-color: pink; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-child ul li 
{
    font-size: 16px;
    color: grey;
    margin-top: 20px;
}
.footer-child ul li a
{
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
.footer-child ul li a:hover
{
    color: white;
}
.footer-child ul #list-heading
{
    color: white;
    
}

.terms-container .terms
{
    display: flex;
    /* border: 1px solid green; */
}
.terms-container .terms li a
{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.terms-vertical
{
    height: 20px;
    border: 0.5px solid grey;
    margin-left: 15px;
}

.social-media
{
    display: flex;
    /* border: 1px solid green; */
    width: 300px;
    position: relative;
    left: 1100px;
    bottom: 50px;
}
.social-media li a img
{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.copyright
{
    background-color: red;
    text-align: center;
    color: white;
    padding: 10px;
}